.selectWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
  margin-left: 10px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #808080;
}

.selectWrapper textarea {
  border: none;
  border-bottom: 1px solid #808080;
  outline: none;
  color: #808080;
}
